<script type="text/x-handlebars" data-template-name="components/product-info-table">
	<table id="product-info" class="table table-striped">
		<tr>
			<td class="product-info-hd">Year</td> 
			<td class="product-info-desc">{{year}}</td>
		</tr>
		<tr>
			<td class="product-info-hd">Polyphony</td> 
			<td class="product-info-desc">{{polyphony}}</td>
		</tr>
	</table>
</script>